@model IEnumerable<WebApplication1.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #94a728;">Поставщики</h1>

<table class="table">
    <thead></thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.supplier)
            </td>
        </tr>
}
    </tbody>
</table>
