@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: normal; color: #94a728;">Добро пожаловать</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="~/images/catalog.jfif" alt="Welcome Image" style="width: 700px; height: auto; display: block; margin: 20px auto;" />
</div>
