@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: #94a728;">Добро пожаловать</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="~/images/catalog.jfif" alt="Welcome Image"
         style="width: 700px; height: auto; display: block; margin: 20px auto;
            border-radius: 15px; border: 2px solid #94a728;" />
</div>
