@model WebApplication1.Models.Firm

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: #94a728;">Добавление фирмы</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="firm" class="form-control" />
                <span asp-validation-for="firm" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 15px; display: flex;">
                <input type="submit" value="Создать" class="btn btn-success" style="font-weight: bold; background-color: #94a728; color: white;" />
                <a asp-action="Index" class="btn btn-secondary" style="font-weight: bold; background-color: #94a728; color: white; margin-left: 15px;">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
