@model WebApplication1.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idCategory" class="control-label"></label>
                <select asp-for="idCategory" class ="form-control" asp-items="ViewBag.idCategory"></select>
            </div>
            <div class="form-group">
                <label asp-for="idFirm" class="control-label"></label>
                <select asp-for="idFirm" class ="form-control" asp-items="ViewBag.idFirm"></select>
            </div>
            <div class="form-group">
                <label asp-for="idSupplier" class="control-label"></label>
                <select asp-for="idSupplier" class ="form-control" asp-items="ViewBag.idSupplier"></select>
            </div>
            <div class="form-group">
                <label asp-for="idMaterial" class="control-label"></label>
                <select asp-for="idMaterial" class ="form-control" asp-items="ViewBag.idMaterial"></select>
            </div>
            <div class="form-group">
                <label asp-for="idCountryManufacturer" class="control-label"></label>
                <select asp-for="idCountryManufacturer" class ="form-control" asp-items="ViewBag.idCountryManufacturer"></select>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
