@model WebApplication1.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: #94a728;">Добавление продукта</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idCategory" class="control-label">Выберите категорию:</label>
                <select asp-for="idCategory" class ="form-control" asp-items="ViewBag.idCategory"></select>
            </div>
            <div class="form-group">
                <label asp-for="idFirm" class="control-label">Выберите фирму:</label>
                <select asp-for="idFirm" class ="form-control" asp-items="ViewBag.idFirm"></select>
            </div>
            <div class="form-group">
                <label asp-for="idSupplier" class="control-label">Выберите поставщика:</label>
                <select asp-for="idSupplier" class ="form-control" asp-items="ViewBag.idSupplier"></select>
            </div>
            <div class="form-group">
                <label asp-for="idMaterial" class="control-label">Выберите материал:</label>
                <select asp-for="idMaterial" class ="form-control" asp-items="ViewBag.idMaterial"></select>
            </div>
            <div class="form-group">
                <label asp-for="idCountryManufacturer" class="control-label">Выберите страну:</label>
                <select asp-for="idCountryManufacturer" class ="form-control" asp-items="ViewBag.idCountryManufacturer"></select>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label">Название:</label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 15px; display: flex;">
                <input type="submit" value="Создать" class="btn btn-success" style="font-weight: bold; background-color: #94a728; color: white;" />
                <a asp-action="Index" class="btn btn-secondary" style="font-weight: bold; background-color: #94a728; color: white; margin-left: 15px;">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
